.container {
  width: 100%;
  padding: 2rem;

  .row-actions {
    margin-bottom: 1rem;
  }

  .loan-list {
    width: 50vw;
  }

  .search {
    width: 50vw;
  }

  img {
    vertical-align: middle;
  }
}
