<form (ngSubmit)="search()" [formGroup]="searchForm">
  <mat-form-field>
    <input formControlName="ID" matInput placeholder="Loan ID" type="number">
  </mat-form-field>

  <button class="btn-search" type="submit" mat-raised-button color="primary">Search</button>
</form>

<form [formGroup]="searchResultForm" *ngIf="searchFormVisible">
  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <mat-form-field>
          <input formControlName="ID" matInput type="number" placeholder="ID" readonly>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input formControlName="borrowerName" matInput placeholder="Borrower" readonly>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input formControlName="fundingAmount" matInput type="number" placeholder="Funding Amount" readonly>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input formControlName="repaymentAmount" matInput type="number" placeholder="Repayment Amount" readonly>
        </mat-form-field>
      </td>
    </tr>
  </table>
</form>
